.ui.label i.icon {
    margin-right: 0;
}

.posting:not(.full) {
    margin-top: 1rem;
}

.three.wide.column {
    max-width: 180px;

    border-left: 1px solid black;

    .item {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
