<div class="posting" [ngClass]="{ posting: true, full: mode == 'full' }">
    <div class="ui green segment">
        <div class="ui grid">
            <div class="twelve wide column" [innerHtml]="convertHtml(posting.html) | safeHtml">
            </div>
            <div class="four wide column">
                <img class="ui fluid rounded green image" [src]="getImage(posting.author) | safeSSBUrlPipe">
                <div class="item">
                    <a class="ui green image label">
                        <i class="user icon"></i>
                        <div class="detail" *ngIf="posting.author">{{ posting.author.name[0] }}</div>
                        <div class="detail" *ngIf="!posting.author">{{ posting.authorId }}</div>
                    </a>
                </div>
                <div class="item">
                <a class="ui green image label" [routerLink]="['/posting', posting.id]">
                    <i class="calendar icon"></i>
                    <div class="detail">{{ posting.date | humanReadableDate }}</div>
                </a></div>
                <div class="item">
                <a class="ui green image label" *ngIf="posting.primaryChannel">
                    <i class="hashtag icon"></i>
                    <div class="detail">{{ posting.primaryChannel }}</div>
                </a></div>
                <div class="item">
                <a class="ui green image label" [title]="formatVotes(posting)" (click)="toggleLike()">
                    <i class="heart outline icon" [ngClass]="{heart: true, outline: !hasSelfLike, icon: true}"></i>
                    <div class="detail">{{ posting.voteCount }}</div>
                </a></div>
                <div class="item">
                <a class="ui green image label" [title]="formatComments(posting)" [routerLink]="['/posting', posting.id]">
                    <i class="comment icon"></i>
                    <div class="detail">{{ posting.comments.length }}</div>
                </a></div>
                <div class="item">
                <div class="ui green image label" title="The estimated time to read this posting">
                    <i class="hourglass half icon"></i>
                    <div class="detail">{{ posting.totalReadingTime | humanReadableDuration }}</div>
                </div></div>
                <div class="item">
                <a class="ui green image label" (click)="log()">
                    <i class="bug icon"></i>
                </a></div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="mode == 'full'">
        <app-posting [posting]="comment" *ngFor="let comment of posting.comments"></app-posting>
        <div class="ui green segment">
            <app-new-posting [context]="posting"></app-new-posting>
        </div>
    </ng-container>
</div>
