<ng-container *ngIf="(settings | async).channel !== 'public'">
    <h1 class="ui dividing header">#{{ (settings | async).channel }}</h1>
</ng-container>

<app-new-post></app-new-post>

<div class="feed" *ngIf="posts">
    <div *ngFor="let post of posts | async">
        <app-post [post]="post"></app-post>
    </div>
    <div class="ui green bottom fixed menu">
        <a class="item" (click)="pageBackward()">
            Previous Page
        </a>
        <a class="item">
            Currently on Page {{ (settings | async).currentPage }}
        </a>
        <a class="item" (click)="pageForward()">
            Next Page
        </a>
    </div>
</div>
