<div class="ui fluid input" *ngIf="!visible">
    <input placeholder="Type in here to compose a new post…" type="text" (focus)="setupEditor()">
</div>
<div id="editor" class="ui fluid card" *ngIf="visible">
    <div class="content">
        <div class="header">New Post</div>
    </div>
    <div class="content">
        <div style="height: 600px;" #editor></div>
    </div>
    <div class="extra content">
        <div class="right aligned">
            <button class="ui red button" (click)="cancel()">Cancel</button>
            <button class="ui green button" (click)="submit()">Post</button>
        </div>
    </div>
</div>
<div #preview class="ui modal" *ngIf="previewPost">
    <i class="close icon"></i>
    <div class="header">
        Preview Post
    </div>
    <div class="scrolling content">
        <app-post [post]="previewPost" mode="draft"></app-post>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Not yet
        </div>
        <div class="ui positive right labeled icon button">
            Publish forever
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
