<div class="ui top fixed green menu">
    <a class="active item" routerLink="/" (click)="updateFeed()">Public Feed</a>
    <!-- <a (click)="debug()" class="item">Private Feed</a>
    <a class="item">Gatherings</a>
    <a class="item">Discover</a>
    <a class="item">My Network</a> -->
    <div class="right menu">
        <!-- <div class="ui right aligned category search item">
            <div class="ui transparent icon input">
                <input class="prompt" placeholder="Search animals..." type="text">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div> -->
        <div class="item" *ngIf="false">
            <div class="la-ball-clip-rotate-pulse la-sm">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="item" *ngFor="let settings of [(currentFeedSettings | async)]">
            <div title="Loaded {{ settings?.messageCount }} Messages from Feed">
                <i class="sync alternate icon"></i> {{ settings?.messageCount }} / {{ messageCount | async }}
            </div>
        </div>
        <a class="item" (click)="toggleSidebar()" title="Expand Sidebar">
            <i class="angle left icon"></i>
        </a>
    </div>
</div>
<div class="content" lazy-load-images>
    <router-outlet></router-outlet>
</div>
<div class="ui right sidebar">
    <div class="ui fluid card" *ngIf="(self | async)">
        <div class="image">
            <img [attr.data-src]="formatBlobUrl((self | async)?.primaryImage)">
        </div>
        <div class="content">
            <div class="header">{{ (self | async)?.primaryName }}</div>
        </div>
    </div>
    <div class="ui vertical fluid green following menu" style="margin-top: 1em;" *ngIf="(self | async)">
        <div class="item">
            <i class="hashtag icon"></i>
            Channels
            <div class="menu">
                <ng-container *ngFor="let channel of (self | async)?.channels">
                    <a class="item" *ngIf="channel.isSubscribed" (click)="goToChannel($event, channel)">
                        {{ channel.channel }}
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="item">
            <i class="users icon"></i>
            Following
            <div class="menu">
                <a class="item" (click)="log(followee)" *ngFor="let followee of (self | async)?.following">
                    <img class="ui left spaced mini image" src="./assets/img/image.png" *ngIf="!followee.primaryImage">
                    <img class="ui left spaced mini image" [attr.data-src]="formatBlobUrl(followee.primaryImage)" *ngIf="followee.primaryImage"> {{ followee.primaryName }}
                    <!-- <div class="horizontal ui label" title="3 new messages">3</div> -->
                </a>
            </div>
        </div>
    </div>
</div>

<hotkeys-cheatsheet></hotkeys-cheatsheet>
