<div class="post" [ngClass]="{ post: true, full: mode == 'full' }">
    <div class="ui crosshatch green segment" [ngClass]="{ui: true, crosshatch: active, piled: post.comments.length > 0, green: true, segment: true}">
        <div class="ui grid">
            <div class="twelve wide content column" [innerHtml]="convertHtml(post.html) | safeHtml" (click)="click($event)">
            </div>
            <div class="four wide details column">
                <img class="ui fluid rounded green image" [attr.data-src]="getImage(post.author)">
                <div class="author item">
                    <a class="ui green image label" [routerLink]="['/feed', post.authorId]">
                        <i class="user icon"></i>
                        <div class="detail" *ngIf="post.author">{{ post.author.primaryName }}</div>
                        <div class="detail" *ngIf="!post.author">{{ post.authorId }}</div>
                    </a>
                </div>
                <ng-container *ngIf="mode != 'draft'">
                    <div class="item">
                        <a class="ui green image label" [routerLink]="['/post', post.id]">
                            <i class="calendar icon"></i>
                            <div title="First posted {{ post.date | humanReadableDate   }}" class="detail">{{ post.latestActivity | humanReadableDate }}</div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui green image label" *ngIf="post.primaryChannel" [routerLink]="['/feed', post.primaryChannel]">
                            <i class="hashtag icon"></i>
                            <div class="detail">{{ post.primaryChannel }}</div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui green image label" [title]="formatVotes(post)" (click)="toggleLike()">
                            <i class="heart outline icon" [ngClass]="{heart: true, outline: !hasSelfLike, icon: true}"></i>
                            <div class="detail">{{ post.voteCount }}</div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui green image label" [title]="formatComments(post)" [routerLink]="['/post', post.id]">
                            <i class="comment icon"></i>
                            <div class="detail">{{ post.comments.length }}</div>
                        </a>
                    </div>
                    <div class="item">
                        <div class="ui green image label" title="The estimated time to read this post">
                            <i class="hourglass half icon"></i>
                            <div *ngIf="mode == 'full'" class="detail">{{ post.readingTime | humanReadableDuration }}</div>
                            <div *ngIf="mode != 'full'" class="detail">{{ post.totalReadingTime | humanReadableDuration }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <a class="ui green image label" (click)="log()">
                            <i class="bug icon"></i>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-container *ngIf="mode == 'full'">
        <app-post [post]="comment" *ngFor="let comment of post.comments"></app-post>
        <div class="ui green segment">
            <app-new-post [context]="post"></app-new-post>
        </div>
    </ng-container>
</div>
