.active.post {
    .content.column {
        border: 1px solid rgba(34, 36, 38, 0.95);
    }
}

.ui.label i.icon {
    margin-right: 0;
}

.post:not(.full) {
    margin-top: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.content.column {
    overflow: hidden;
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
    padding-right: 1rem;
}

.details.column {
    align-self: stretch;
    order: 1;
    flex: 0 1 auto;

    max-width: 240px;
    min-width: 240px;
    width: 240px;

    padding-left: 1rem;

    .extra.content.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        & > * {
            flex: 1 1 auto;
        }

        & > .primary-channel {
            width: 100%;
        }
    }
}
