<div class="post" [ngClass]="{ post: true, full: mode == 'full', active: active  }">
    <div class="flex-container">
        <div *ngIf="!post.isMissing" (click)="click($event)" [innerHtml]="convertHtml(post.html) | safeHtml" class="content column ui crosshatch green segment"
            [ngClass]="{ui: true, crosshatch: active, piled: post.comments.length > 0, green: true, segment: true}">
        </div>
        <div *ngIf="post.isMissing" class="content column ui missing green segment">
            This post is missing!
        </div>
        <div class="details column">
            <div class="ui fluid green card">
                <div class="image">
                    <img [src]="getImage(post.author)  | safeSSBUrlPipe">
                </div>
                <div class="content">
                    <a class="header" [routerLink]="['/feed', post.authorId]">
                        <ng-container *ngIf="post.author">{{ post.author.primaryName }}</ng-container>
                        <ng-container *ngIf="!post.author">{{ post.authorId }}</ng-container>
                    </a>
                </div>
                <div class="extra content container">
                    <a [routerLink]="['/post', post.id]" *ngIf="mode === 'condensed'">
                        <i class="reply icon"></i>
                    </a>
                    <a (click)="replyPost(post)" *ngIf="mode === 'full' || mode === 'comment'">
                        <i class="reply icon"></i>
                    </a>

                    <a href="https://viewer.scuttlebot.io/{{ escapeID(post.id) }}">
                        <i class="globe icon"></i>
                    </a>
                </div>
                <div class="extra content">
                    <a [routerLink]="['/post', post.id]">
                        <ng-container *ngIf="!post.isMissing">
                            <p *ngIf="mode === 'condensed'">
                                <i title="Latest activity at" class="calendar alternate outline icon"></i>
                                {{ toIsoDate(post.latestActivity) }}
                            </p>
                            <p *ngIf="mode === 'full' || mode === 'comment'">
                                <i title="Posted at" class="calendar alternate outline icon"></i>
                                {{ toIsoDate(post.date) }}
                            </p>
                        </ng-container>
                    </a>
                </div>

                <div class="extra content">
                    <p>
                        <i title="Reading time" class="hourglass half icon"></i>
                        <ng-container *ngIf="mode == 'full'" class="detail">{{ post.readingTime | humanReadableDuration }}</ng-container>
                        <ng-container *ngIf="mode != 'full'" class="detail">{{ post.totalReadingTime | humanReadableDuration
                            }}</ng-container>
                    </p>
                </div>

                <div class="extra content" *ngIf="post.primaryChannel">
                    <a class="primary-channel" [routerLink]="['/feed', post.primaryChannel]">
                        <i class="hashtag icon"></i>
                        {{ post.primaryChannel }}
                    </a>
                </div>

                <div class="extra content" *ngIf="mode !== 'comment' && post.comments.length > 0">
                    <a [routerLink]="['/post', post.id]">
                        <p>Comments by</p>
                        <div class="stacked image container">
                            <div class="image" *ngFor="let comment of aggregateComments">
                                <img title="{{ comment.author.primaryName }} commented {{ comment.activity | humanReadableDate }}" class="ui mini image"
                                    [src]="getImage(comment.author)  | safeSSBUrlPipe">
                            </div>
                        </div>
                    </a>
                </div>

                <!-- <div class="extra content" *ngIf="mode !== 'comment' && post.comments.length === 0">
                    <a [routerLink]="['/post', post.id]">
                        <p>No comments yet.</p>
                    </a>
                </div> -->

                <div class="extra content">
                    <p>Votes by</p>
                    <div class="stacked image container" *ngIf="aggregatedVotes.length > 0">
                        <div class="image" *ngFor="let vote of aggregatedVotes">
                            <div class="self container" *ngIf="vote.author.isSelf" title="Remove your vote" (click)="toggleLike()">
                                <div class="icon">
                                    <i class="minus icon"></i>
                                </div>
                                <img class="ui self mini image" [src]="getImage(vote.author) | safeSSBUrlPipe">
                            </div>
                            <ng-container *ngIf="!vote.author.isSelf">
                                <img class="ui mini image" [src]="getImage(vote.author) | safeSSBUrlPipe">
                            </ng-container>
                        </div>
                    </div>
                    <div class="stacked image container" *ngIf="aggregatedVotes.length === 0">
                        <p>No one!
                            <a (click)="toggleLike()">Add yours.</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <ng-container *ngIf="mode == 'full'">
        <app-post [post]="comment" *ngFor="let comment of post.comments" (click)="setActiveComment(comment)" mode="comment" (reply)="replyPost($event)"></app-post>
        <div class="ui green segment">
            <app-new-post [context]="post" #editor></app-new-post>
        </div>
    </ng-container>
</div>
