.ui.label i.icon {
    margin-right: 0;
}

.post:not(.full) {
    margin-top: 1rem;
}

.content.column {
    overflow: hidden;
}

.details.column {
    max-width: 180px;
    min-width: 140px;

    border-left: 1px solid #21BA45;

    .item {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .label {
            max-width: 100%;
            // overflow: hidden;

            .detail {
                overflow-wrap: break-word;
                max-width: 94%;
            }
        }
    }


}
