/* You can add global styles to this file, and also import other style files */

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

body {
    background-color: rgba(0, 0, 0, 0.05) !important;
}
